**

!ai-assistant-server/
!ai-assistant-server/pom.xml
!ai-assistant-server/src/
!ai-assistant-server/src/**

!ai-assistant-service/
!ai-assistant-service/pom.xml
!ai-assistant-service/src/
!ai-assistant-service/src/**
